.contentSectionWrapper{
    padding: 24px;
    background-color: #F3F4F6;
    border-radius: 5px;
}

.footerCard {
  margin: 24px;
  .footer {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    flex-wrap: wrap;

    .socialIcons {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}
@media (max-width: 680px) {
  .footerCard {
    margin: 10px;
    .footer {
      flex-wrap: wrap;
      flex-direction: column;
      gap: 10px;
      padding: 10px;
      width: 100%;
    }
  }
}
