.header {
  display: flex;
  align-items: center;
  gap: 32px;
}

.inputField {
  width: 402px;
  height: 45px;
  border-radius: 16px;
  border: 1px solid #e5e7eb;
  background-color: #f9fafb;
  color: #6b7280;
  input {
    background-color: #f9fafb;
    margin-left: 1rem;
  }
  ::placeholder {
    color: #6b7280;
  }
  &:focus-within {
    border-color: #e5e7eb;
  }
  &:hover {
    border-color: #e5e7eb;
  }
}
.topAvatar {
  display: flex;
  align-items: center;
  gap: 1rem;
}
