:global(.ant-layout-header){
  &.topHeader{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
  }
}

.header {
  display: flex;
  align-items: center;
  gap: 32px;
  img {
    @media (max-width: 767px) {
      display: none;
    }
  }
}

.inputField {
  width: 402px;
  height: 45px;
  border-radius: 16px;
  border: 1px solid #e5e7eb;
  background-color: #f9fafb;
  color: #6b7280;
  input {
    background-color: #f9fafb;
    margin-left: 1rem;
  }
  ::placeholder {
    color: #6b7280;
  }
  &:focus-within {
    border-color: #e5e7eb;
  }
  &:hover {
    border-color: #e5e7eb;
  }
  @media (max-width: 767px) {
    display: none;
  }
}
.topAvatar {
  display: flex;
  align-items: center;
  gap: 1rem;
}
