.topLabel {
  color: #111827;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.transitionlist {
  color: #71717a;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 1rem;
}
.bottomTable {
  width: 100%;
  overflow: auto;
  :global(.ant-table) {
    :global(.ant-table-container) {
      :global(.ant-table-content) {
        table {
          thead {
            tr {
              th {
                color: #6b7280;
                font-size: 12px;
                font-weight: 600;
                line-height: 18px;
                letter-spacing: 0em;
                text-align: left;
                background-color: #f9fafb;
                white-space: nowrap;
              }
            }
          }
          tbody {
            tr {
              td {
                white-space: nowrap;
              }
              td:nth-child(2) {
                font-size: 13px;
                font-weight: 200;
                line-height: 20px;
                letter-spacing: 0em;
                text-align: left;
                color: #6b7280;
              }
              td:nth-child(3) {
                color: #111827;
                font-size: 16px;
                font-weight: 800;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;
              }
            }
            :nth-child(even) {
              td {
                background-color: #f9fafb;
              }
            }
          }
        }
      }
    }
  }
}
